:root {
   --fill-color: black;
   --background-color: white; 
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

button {

    padding: 15px 30px;
    border-style: none;
    background-color: #00539C;
    color: white;
    border-radius: 30px;
}

.input {
    margin-top: 50px;
}

.empty {
    background-color: var(--background-color);
}

.full {
    background-color: var(--fill-color);
}

.row {
    display:flex;
  
}

.tile{
    height: 100%;
}

.middle {
    display: flex;
    align-items: center;
    gap: 50px;
}

.drawing{
    display: grid;
    height: 60vh;
    width: 60vh;
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
}


